@using System.Globalization
@using System.Threading;
@using HydroAsp.LocalResource;
<!-- PRELOADER -->
<div class="spn_hol">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<!-- END PRELOADER -->
<!-- =========================
     START ABOUT US SECTION
============================== -->
<section class="header parallax home-parallax page" id="HOME">
    <h2></h2>
    <div class="section_overlay">
        <nav class="navbar navbar-default navbar-fixed-top" id="nav-style" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" id="nav-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/logo3.png" alt="Logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left" style="padding-left: 20px">
                        @{
                            CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;

                            <!--<li><a href="/Home/ChangeCurrentCulture/0"><img src="images/UK.png" /> En</a></li>
                                <li><a href="/Home/ChangeCurrentCulture/1"><img src="images/BG.png" /> Bg</a></li>-->
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Resource.Language<span class="caret"></span></a>
                            <ul class="dropdown-menu transparent-lang" role="menu">
                                <li><a href="/Home/ChangeCurrentCulture/0" class="language" rel="en-US"><img src="images/UK.png" alt="English" /> @Resource.En</a></li>
                                <li><a href="/Home/ChangeCurrentCulture/1" class="language" rel="bg-BG"><img src="images/BG.png" alt="Bulgarian" /> @Resource.Bg</a></li>
                            </ul>
                        </li>
                        <!--<li><a href="#"><img src="images/UK.png" /> En</a></li>
                        <li><a href="#"><img src="images/BG.png" /> Bg</a></li>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- NAV -->
                        <li><a href="#HOME">HOME</a> </li>
                        <li><a href="#FEATURES">FEATURES</a></li>
                        <li><a href="#PRODUCT">PRODUCT</a> </li>
                        <li><a href="#CONDITIONS">CONDITIONS </a> </li>
                        <!--<li><a href="#DOWNLOAD">DOWNLOAD </a> </li>-->
                        <li><a href="#CONTACT">SAMPLE </a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container- -->
        </nav>
        </div>
        <div class="container home-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo text-center">
                        <br>
                        <img width="268" height="156" id="img-logo" src="images/SWSlogo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row back-color-sm">
                <div class="col-md-7 col-sm-7">
                    <div class="home_text">
                        <!-- TITLE AND DESC -->
                        <p class="land-header-text inner-line">Upgrade to GEL HYDRATION<br>to hydrate skin throughout each shave</p>
                        <p style="margin-top: 25px; text-align: justify;">Did you know that the new Wilkinson Sword Hydro Connect™ 5 cartridge is compatible with all Fusion®† and Wilkinson Sword Hydro Connect™ 5 branded handles? This gives you the freedom to choose what blades to use with your preffered razor before you decide to change it.<br>Now we give you the opportunity to receive a FREE SAMPLE so you can test all the benefits of Wilkinson Sword Hydro Connect™ 5 blades on your own skin! </p>
                        <p style="font-size: 16px; line-height: 20px !important; margin-top: 20px">FIND OUT HOW TO GET YOUR FREE SAMPLE BELOW.<br>DON'T LET THEM TELL YOU WHAT IS THE BEST A MAN CAN GET - CHOOSE YOURSELF!</p>

                        <div class="download-btn">
                            <a class="btn home-btn wow fadeInLeft" href="#CONDITIONS">CHECK THE CONDITIONS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 back-color-sm">
                    <div class="row uplift">
                        <div class="col-md-5 col-md-offset-3">
                            <img class="handle-image" src="images/Handle.png" alt="">
                            <div>
                            </div>
                        </div>
                        <div class="col-md-offset-2">
                            <p class="fits_text"><br>FITS FUSION®† HANDLES**</p>
                        </div>
                        <div>
                            <p class="connect">CONNECT THE UNEXPECTED</p>
                        </div>
                        <div>
                            <img src="images/text.png" style="margin-top: 15px; width: 100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- END HEADER SECTION -->
<!-- =========================
     START FEATURES
============================== -->
<section id="FEATURES" class="features page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- FEATURES SECTION TITLE -->
                <div class="section_title wow fadeIn" data-wow-duration="1s">
                    <h2>Features</h2>
                    <p>Daily shaving can lead to skin irritation but Wilkinson Sword Hydro Connect 5 men's razor helps to protect your skin thanks to unique gel hydration.</p>
                </div>
                <!-- END FEATURES SECTION TITLE -->
            </div>
        </div>
    </div>

    <div class="feature_inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                    <!-- FEATURE -->

                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-search"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3>Flip Trimmer<span>/</span></h3>
                        <p>The Gel Reservoir flips back to expose all five blades, helping trim tight spaces with ease such as under the nose and sideburns.</p>
                    </div>

                    <!-- END SINGLE FEATURE -->
                    <!-- FEATURE -->
                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-link"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3>CARTRIDGE COMPATIBLE<span>/</span></h3>
                        <p>HYDRO CONNECT™ 5 CARTRIDGE IS COMPATIBLE WITH ALL GILLETTE® FUSION®† AND WILKINSON SWORD CONNECT™ BRANDED HANDLES</p>
                    </div>
                    <!-- END SINGLE FEATURE -->

                </div>
                <div class="col-md-4">
                    <div class="feature_iphone">
                        <!-- FEATURE PHONE IMAGE -->
                        <img class="wow bounceIn squeezing" data-wow-duration="1s" src="images/hydro_features.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">
                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-drop"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>/</span>Water Activated Gel Reservoir</h3>
                        <p>AUTO-REPLENISHING GEL TECHNOLOGY: Designed to protect men's skin against irritation and hydrate it during shaving. Leaves the skin hydrated up to 1 hour after shaving!</p>
                    </div>
                    <!-- END SINGLE FEATURE -->
                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-smile"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>/</span>Skin Guard</h3>
                        <p>5 Ultra Glide razor blades with Skin Guard: Smooth the skin's surface and help to reduce irritation.</p>
                    </div>
                    <!-- END SINGLE FEATURE -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES SECTION -->
<!-- =========================
     Start PRODUCT SECTION
============================== -->
<section class="apps_screen page" id="PRODUCT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                <!-- APPS SCREEN TITLE -->
                <div class="section_title">
                    <h2>Product</h2>
                    <p>HYDRO CONNECT™ 5 CARTRIDGE IS COMPATIBLE WITH ALL GILLETTE® FUSION®† AND WILKINSON SWORD CONNECT™ 5 BRANDED HANDLES<br>You can find HYDRO CONNECT™ 5 in Kaufland, DM, Lilly, Metro and many more stores.</p>
                </div>
                <!-- END APPS SCREEN TITLE -->
            </div>
        </div>
    </div>

    <div class="screen_slider">
        <div id="demo" class="wow bounceInRight" data-wow-duration="2s">
            <div id="owl-demo" class="owl-carousel">

                <!-- APPS SCREEN IMAGES -->
                <div class="item">
                    <img src="images/pic2.png" data-toggle="popover" title="Wilkinson Sword Hydro Connect™ 5 Cardridge 2-pieces" width="50" height="50" alt="Hydro" />
                </div>
                <div class="item">
                    <img src="images/pic1.png" data-toggle="popover" title="Wilkinson Sword Hydro Connect™ 5 Razor" width="50" height="50" alt="Hydro" />
                </div>
                <div class="item">
                    <img src="images/pic3.png" data-toggle="popover" title="Wilkinson Sword Hydro Connect™ 5 Cardridge 4-pieces" width="50" height="50" alt="Hydro" />
                </div>
                <div class="item">
                    <img src="images/pic1.png" data-toggle="popover" title="Wilkinson Sword Hydro Connect™ 5 Razor" width="50" height="50" alt="Hydro" />
                </div>
                <div class="item">
                    <img src="images/pic5.png" data-toggle="popover" title="Wilkinson Sword Hydro Connect™ 5 Sensitive Cardrige 4-pieces" width="50" height="50" alt="Hydro" />
                </div>
                <div class="item">
                    <img src="images/pic4.png" data-toggle="popover" title="Wilkinson Sword Hydro Connect™ 5 Sensitive Razor" width="50" height="50" alt="Hydro" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ENS PRODUCT -->
<!-- =========================
     START CONDITIONS US SECTION
============================== -->


<section class="about page">
    <div class="video_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeftBig">
                    <!-- VIDEO LEFT TITLE -->
                    <div class="video_title">
                        <h2>UPGRADE TO  <br>GEL HYDRATION</h2>
                        <p>TO HYDRATE SKIN THROUGHOUT EACH SHAVE AND PROTECT IT AGAINST IRRITATION</p>
                    </div>
                    <div class="video-button">
                        <!-- BUTTON -->
                        <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRightBig">
                    <!-- VIDEO -->
                    <div class="video">
                        <video width="560" height="400" controls>
                            <source src="images/movie.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about page" id="CONDITIONS">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>How can you get a FREE SAMPLE of Wilkinson Sword Hydro Connect&trade; 5?</h2>
                    <p style="font-size: 16px">In Wilkinson Sword we firmly believe in the quality of all our products. We also know it is always difficult to make the first step and try something completely new. That is why we would like to give you an opportunity to try the new Wilkinson Sword Hydro Connect&trade; 5 FREE OF CHARGE.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inner_about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                        <img class="squeezing" src="images/blade.png" alt="">
                    </div>
                </div>
                <div class="col-md-8  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h3 style="margin-top: 0px; margin-bottom: 20px">To get the sample you must meet 3 simple requirements:</h3>
                        <!--<p>You have to comply with the following 3 conditions to get absolutely free Hydro Connect5&trade; blade sample delivered right to your door.</p>-->
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-link"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h4>Have a compatible handle with Wilkinson Sword Hydro Connect&trade; 5 cartridge*.</h4>
                            <p>You will have to show it to the courier when the sample is delivered to you. Besides, why would you need the cartridge if you cannot use it? <img src="images/smyle.png" width="20px" style="padding-bottom: 7px" /></p>
                        </div>
                        <!-- END SINGLE DESC -->
                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-like2"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h4>Follow our Facebook profile and share the post about Wilkinson Sword Hydro Connect&trade; 5 sampling.</h4>
                            <p>We would like you to be up-to-date with any future promotions and novelties we will launch. It is also good if you let your family and friends know about this unique opportunity – why keep it to yourself?</p>
                        </div>
                        <!-- END SINGLE DESC -->
                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-home"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h4>Live in a city with more than 5000 inhabitants</h4>
                            <p>We are very sorry, but we are unable to deliver the gifts to smaller towns or villages.Maybe you know someone we could deliver the sample to? Let him know about this promotion!</p>
                        </div>
                        <!-- END SINGLE DESC -->
                        <p><small><i>* HYDRO CONNECT™ 5 CARTRIDGE IS COMPATIBLE WITH ALL GILLETTE® FUSION®† AND WILKINSON SWORD CONNECT™ BRANDED HANDLES</small></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- End About Us -->
<!-- =========================
     START CALL TO ACTION
============================== -->
<!--<div class="call_to_action">
    <div class="container">
        <div class="row wow fadeInLeftBig" data-wow-duration="1s">
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-action" href="#" role="button">Download Now</a>
            </div>
        </div>
    </div>
</div>-->
<!-- END CALL TO ACTION -->
<!-- =========================
     START CONTCT FORM AREA
============================== -->
<section class="contact page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>REQUEST A FREE SAMPLE</h2>
                    <p>We will deliver the free sample right to your door, through a courier agency. Just make sure you comply with the three conditions above and send us the detailes needed to send you the free Hydro Connect5&trade; Blade</p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                <div class="form_error text-center">
                    <div class="name_error hide error">Please Enter your name</div>
                    <div class="email_error hide error">Please Enter your Email</div>
                    <div class="email_val_error hide error">Please Enter a Valid Email Address</div>
                    <div class="message_error hide error">Please Enter Your Address</div>
                    <div class="policy_error hide error">Please Read and Check Policy Agreement</div>
                </div>
                <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->
                <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.-->
                <form role="form" action="contact.php">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="name" placeholder="Name">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                            <!--<input type="text" class="form-control" id="subject" placeholder="Subject">-->
                            <select class="form-control" id="country" placeholder="Select country">
                                <option>Bulgaria</option>
                                <option>Romania</option>
                                <option>Serbia</option>
                                <option>Bosnia</option>
                            </select>
                        </div>


                        <div class="col-md-8">
                            <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Address..."></textarea>
                            <input type="checkbox" class="form-check-input" id="policy">
                            <label class="form-check-label" for="policy">You have read and understood our <a href="english_pol.html" target="_blank">privacy policy</a></label>
                            <button type="button" class="btn btn-default submit-btn form_submit">Request Free Sample</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>
        <!--
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                            <ul>
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-behance"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        -->
    </div><br><br><br>
</section>
<!-- END CONTACT -->
<!-- =========================
     FOOTER
============================== -->

<section class="copyright">
    <h2></h2>
    <div class="container">
        <div class="row">
            <p style="color: #8c8b8a">† This product is not manufactures or distributed by the Gillette Company LLC, owner of the registered trademarks Gillette® and Fusion®.</p>
            <div class="col-md-6">
                <div class="copy_right_text">
                    <p>Copyright &copy; 2018. All Rights Reserved.</p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="scroll_top">
                    <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->
<!-- =========================
     SCRIPTS
============================== -->
<!--
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.ajaxchimp.langs.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/script.js"></script>
-->
